@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,700&display=swap');

@import url('https://fonts.cdnfonts.com/css/star-wars');

@import url('https://fonts.cdnfonts.com/css/aurebesh?styles=105486');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Libre Franklin", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat center/cover url(/MULTIMEDIA/FONDOANIMACION/SPACE2.jpeg);
    z-index: -100;
}

